html {
    background-image: url(full.png);
    background-size: 20%;

    width: 100%;
    height: 100%;
}

body {
  width: 100%;
  height: 100%;
  position: relative;

  margin: 0;
  padding: 0;
}

.content {
  width: 100%;
  height: 100%;

  text-align: center;

  background-color: #77AA7766;

  display: flex; 
  align-items: center; 
  justify-content: center; 
  font-size: 200%;
}